{% extends "Rap2hCookingBundle::layout.html.twig" %}
{% form_theme form 'Rap2hCookingBundle:Form:default.html.twig' %}

{% block title %}{{ parent() }} - Ajouter une recette{% endblock %}

{% block body %}

<h3>Resdsq</h3>

<div class="well">
  <form method="post" {{ form_enctype(form) }} />

	<div class="row">
        <div class="col-md-4">{{ form_row(form.left) }}</div>
        <div class="col-md-4">{{ form_row(form.right) }}</div>
      </div>


	{{ form_widget(form) }}
<input type="submit" class="btn btn-primary" />
</form>
</div>

{% endblock %}