{% extends "Rap2hCookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<h1>Ma recette</h1>
<p>
    <ul>
        {% for item in recipeSteps %}
            <li>{{ item.text }}</li>
        {% else %}
            <li>Pas encore d'éléments dans la recette.</li>
        {% endfor %}
    </ul>
</p>
<h1>Actions</h1>
<p>
	<ul>
		{% for item in availableRecipeSteps %}
			<li><a href="{{ path('CookingAddRecipeItem', {'recipeItemId': item.id }) }}">{{ item.randomText }}</a></li>
		{% else %}
			<li>Aucune recette disponible.</li>
		{% endfor %}
    	<li><a href="{{ path('CookingResetRecipe') }}">Réinitialiser</a></li>
	</ul>
</p>
{% endblock %}